{% extends 'base.html' %}
{% load static %}

{% block body_block %}

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2></h2>
        </div>
      </div>
    </section><!-- End Breadcrumbs -->

    <h1>Registrarse</h1>

    <div class="FormWrapper">
        <form id="Form_User_Register" method="post">

          {% csrf_token %}
          {% include "includes/form_errors.html" %}
          
          {% include "includes/forms.html" %}

          <button type="submit" class="btn btn-success">Register</button>
        </form>
      </div>
    </div>
{% endblock body_block%}


