{% extends 'base.html' %}
{% load static %}

{% block body_block %}

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Creación de un Post</h2>
            <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'blogs:blogs' %}">Blogs</a></li>
            <li></li>
            </ol>
        </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <br/><br/>
    <div class="row">
        <br/><br/><br/>
        <form method="POST" >{% csrf_token %}
            {{ form.as_p }}
            <button>Guardar</button>
        </form>
    </div>
    <br/><br/>
{% endblock body_block%}